.registrationForm {
  margin: 50px auto;
}

.formLink {
  font-weight: 500;
  color: #333153;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s ease;

  &:hover {
    color: #565384;
  }
}

.formText {
  user-select: none;
}
