.submitButton {
  padding: 11px;
  width: 50%;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #333153;
  border: 1px solid #333153;
  border-radius: 4px;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;

  &:hover {
    background-color: #565384;
    border-color: #565384;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: #565384;
    border-color: #565384;
  }
}
