.authLayout {
  position: relative;

  main {
    margin-top: 60px;
    padding: 10px;
  }

  .desktopMain {
    padding: 15px 25px 25px;
    margin-top: 0;
    margin-left: 300px;
  }
}

@media(min-width: 1800px) {
  .authLayout {
    .desktopMain {
      padding: 15px 40px 25px;
    }
  }
}
