.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 30px;
  position: relative;

  label {
    margin-bottom: 6px;
    font-size: 14px;
    user-select: none;
    font-weight: 600;
  }

  .formControl {
    padding: 15px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background-color: #FFFFFF;
    transition: all 0.5s ease;

    &:hover, &:focus {
      border-color: #333153;
      outline: 0;
    }
  }

  &.hasError {
    .formControl {
      border-color: #f64e60;
    }
  }

  .errorText {
    position: absolute;
    bottom: -24px;
    left: 0;
    color: #f64e60;
  }
}
